<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>GAP</display-name>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>Controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/UserPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>Controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>Controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTeamServlet</servlet-name>
    <servlet-class>Controller.AddTeam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeamServlet</servlet-name>
    <url-pattern>/newteam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddMentorServlet</servlet-name>
    <servlet-class>Controller.AddMentor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMentorServlet</servlet-name>
    <url-pattern>/newmentor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTraineeServlet</servlet-name>
    <servlet-class>Controller.AddTrainee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTraineeServlet</servlet-name>
    <url-pattern>/newtrainee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>Controller.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/adminlogoutsession</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TraineeSettingsServlet</servlet-name>
    <servlet-class>Controller.TraineeSettings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraineeSettingsServlet</servlet-name>
    <url-pattern>/settings</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TraineeratingServlet</servlet-name>
    <servlet-class>Controller.MentorRating</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraineeratingServlet</servlet-name>
    <url-pattern>/mentorrating</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MentorSettingsServlet</servlet-name>
    <servlet-class>Controller.MentorSettings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentorSettingsServlet</servlet-name>
    <url-pattern>/mentorupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageuploadServlet</servlet-name>
    <servlet-class>Controller.TraineeImageUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageuploadServlet</servlet-name>
    <url-pattern>/imageUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Imageupload</servlet-name>
    <servlet-class>Controller.MentorImageUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Imageupload</servlet-name>
    <url-pattern>/mentorImageUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChiefSettingsServlet</servlet-name>
    <servlet-class>Controller.ChiefSettings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiefSettingsServlet</servlet-name>
    <url-pattern>/chiefupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendUsernameServlet</servlet-name>
    <servlet-class>Controller.Senddetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendUsernameServlet</servlet-name>
    <url-pattern>/senddetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getprojects</servlet-name>
    <servlet-class>Controller.GetTeamProjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getprojects</servlet-name>
    <url-pattern>/GetProjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>selfrate</servlet-name>
    <servlet-class>Controller.TraineeSelfRating</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selfrate</servlet-name>
    <url-pattern>/selfrating</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getrate</servlet-name>
    <servlet-class>Controller.GetRating</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getrate</servlet-name>
    <url-pattern>/getdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getmentorrate</servlet-name>
    <servlet-class>Controller.GetMentorRating</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getmentorrate</servlet-name>
    <url-pattern>/getmentordata</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showtraineeprogress</servlet-name>
    <servlet-class>Controller.GetTraineeList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showtraineeprogress</servlet-name>
    <url-pattern>/showProgress</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>projects</servlet-name>
    <servlet-class>Controller.InsertProjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>projects</servlet-name>
    <url-pattern>/fillprojects</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>traineeprog</servlet-name>
    <servlet-class>Controller.TraineeProgressView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>traineeprog</servlet-name>
    <url-pattern>/traineeProgress</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cfrating</servlet-name>
    <servlet-class>Controller.CenturyFluenciesRating</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cfrating</servlet-name>
    <url-pattern>/cfratings</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cf</servlet-name>
    <servlet-class>Controller.GetCfRatingDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cf</servlet-name>
    <url-pattern>/cfrating</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pr</servlet-name>
    <servlet-class>Controller.InsertProjectReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pr</servlet-name>
    <url-pattern>/projectreview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gr</servlet-name>
    <servlet-class>Controller.GetProjectReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gr</servlet-name>
    <url-pattern>/getReviews</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>